:root {
  --hue: 256.67; /* azul padrão, baseado no da alura */
  --chroma: 0.11; /* chroma base para o azul */

  --base-lightness: 84%;
  --lightness-500: 14.7%;
  --lightness-400: 24.7%;
  --lightness-300: 34.7%;
  --lightness-200: 44.7%;
  --lightness-100: 54.7%;

  --color-100: oklch(var(--lightness-100) var(--chroma) var(--hue));
  --color-200: oklch(var(--lightness-200) var(--chroma) var(--hue));
  --color-300: oklch(var(--lightness-300) var(--chroma) var(--hue));
  --color-400: oklch(var(--lightness-400) var(--chroma) var(--hue));
  --color-500: oklch(var(--lightness-500) var(--chroma) var(--hue));

  --background: oklch(95% 0.03 var(--hue));
  --foreground: oklch(97% 0.015 var(--hue));

  --primary: var(--color-300);
  --secondary: var(--color-500);
  --contrast-color: oklch(2% 0.06 var(--hue));

  color: var(--contrast-color);
}

:root[data-theme="pink"] {
  --hue: -7;
  --chroma: 0.69;
}

:root[data-theme="blue"] {
  --hue: 256.67;
  --chroma: 0.11;
}

:root[data-theme="purple"] {
  --hue: 323;
  --chroma: 0.22;
}

:root[data-theme="red"] {
  --hue: 5.66;
  --chroma: 0.39;
}

:root[data-darkmode="true"] {
  --base-lightness: 18%;
  --lightness-500: 24.7%;
  --lightness-400: 34.7%;
  --lightness-300: 44.7%;
  --lightness-200: 54.7%;
  --lightness-100: 64.7%;
  --background: oklch(18% 0.02 var(--hue));
  --foreground: oklch(22% 0.03 var(--hue));

  --primary: var(--color-400);
  --secondary: var(--color-200);
  --contrast-color: oklch(90% 0.08 var(--hue));

  color: var(--contrast-color);
}
