:root {
  /* blue theme */
  --blue-400: blue;

  /* pink theme */
  --pink-400: pink;

  /* yellow theme */
  --yellow-400: yellow;

  /* gray/mono theme */
  --gray-400: gray;

  /* light mode */

  /*  dark mode */
}
