@import "./colors.css";

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
  height: 100dvh;
}
body {
  position: relative;
  height: calc(100% - 80px);
  margin: 40px;
  background-color: color-mix(
    in srgb,
    var(--background) 90%,
    var(--primary) 10%
  );
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: auto auto;
  column-gap: 5rem;

  header {
  }

  main {
    display: grid;
    grid-row: 1 / -1;
    grid-column: 2 / 3;
    grid-template-columns: 1fr 400px;
    column-gap: 5rem;

    .col1 {
      padding: 2.5rem;

      display: flex;
      flex-direction: column;
      align-content: flex-end;
      justify-content: space-between;

      textarea::placeholder {
        color: color-mix(in srgb, var(--primary) 40%, white 0%);
      }

      textarea {
        color: var(--primary);
        font-size: 2rem;
        border: none;
        background-color: transparent;
        resize: none;
      }

      .button-wrapper {
        display: flex;
        gap: 1.5rem;
      }

      .button-wrapper > * {
        flex: 1;
      }
    }
    .col2 {
      background-color: color-mix(
        in srgb,
        var(--foreground) 98%,
        var(--primary) 2%
      );
      padding: 2rem;
      border-radius: 2rem;
      box-shadow: 0px 24px 24px rgb(0 0 0 / 0.08);

      .output {
        height: 100%;
        text-align: left;
        > p {
          font-size: 1.5rem;
        }
      }

      .empty-message {
        /* border: 2px dashed hotpink; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
      }
    }
  }

  footer {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.button {
  padding: 1.5rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 1rem;
}

.button.primary {
  background-color: var(--primary);
  border: 2px solid var(--secondary);
  color: var(--light-background-lighter);
}
