footer {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-block-end: 2rem;
}
footer .button {
  padding: 1rem;
  &:hover {
    background-color: color-mix(in srgb, var(--primary) 15%, white 5%);
  }
}

footer svg {
  width: 2rem;
  fill: var(--primary);
}
